body {

    background-color: #FCFF61;

}

video {}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block
}

iframe{
    
    margin-left: auto;
    margin-right: auto;
    display: block 
    
    
}


